---

name: build
# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: '45 16 * * *'

jobs:


  build:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - uses: actions/setup-python@v6
        with:
          python-version-file: 'pyproject.toml'

      - uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: uv sync

      - name: Build matrix
        id: set-matrix
        run: uv run matrix >> "$GITHUB_OUTPUT"

      - name: Build readme
        run: uv run readme > README.md

      - name: Compare readme
        run: |
          git diff --quiet --exit-code README.md && DIFF=0 || DIFF=1
          echo "DIFF=$DIFF" >> "$GITHUB_ENV"

      - name: Fetch job url
        id: fetch-job
        if: env.DIFF != 0
        # v1.4.0
        uses: Tiryoh/gha-jobid-action@be260d8673c9211a84cdcf37794ebd654ba81eef
        with:
          job_name: build
          per_page: 100
        continue-on-error: true

      - name: Push readme
        if: env.DIFF != 0
        env:
          URL: ${{ steps.fetch-job.outputs.html_url }}
        run: |
          git config user.name "$GITHUB_ACTOR" || exit 90
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          ADDED=$(git diff --unified=0 README.md \
            | grep -o 'branch: [a-z]*' \
            | cut -d ' ' -f2 \
            | sort -u \
            | xargs)
          git add README.md || exit 91
          git commit -m "added: ${ADDED:-something}" -m "$URL" || exit 92
          git push || exit 93


  parse:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        inst: ${{ fromJson(needs.build.outputs.matrix) }}
    env:
      INST: ${{ matrix.inst }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version-file: 'pyproject.toml'

      - uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: uv sync

      - name: Pull feed
        run: |
          git checkout "origin/$INST" -- rss.xml && OLD=0 || OLD=1
          echo "OLD=$OLD" >> "$GITHUB_ENV"
          mv {rss,old}.xml || touch old.xml

      - name: Parse feed
        env:
          SESS: ${{ secrets.SESS }}
        run: uv run parse > rss.xml

      - name: Compare feed
        run: |
          grep '^<item' old.xml > .old.xml || true
          grep '^<item' rss.xml > .new.xml || exit 20
          diff .{old,new}.xml | tee .diff.txt
          grep -q '^>' .diff.txt && DIFF=1 || DIFF=0
          echo "DIFF=$DIFF" >> "$GITHUB_ENV"

      - name: Detach branch
        if: env.DIFF != 0 && env.OLD != 0
        run: |
          git checkout --orphan "$INST" || exit 30
          git rm --cached -rf . || exit 31

      - name: Checkout branch
        if: env.DIFF != 0 && env.OLD == 0
        run: |
          git checkout "$INST" || exit 40

      - name: Fetch job url
        id: fetch-job
        if: env.DIFF != 0
        # v1.4.0
        uses: Tiryoh/gha-jobid-action@be260d8673c9211a84cdcf37794ebd654ba81eef
        with:
          job_name: parse (${{ matrix.inst }})
          per_page: 100
        continue-on-error: true

      - name: Publish feed
        if: env.DIFF != 0
        env:
          URL: ${{ steps.fetch-job.outputs.html_url }}
        run: |
          git config user.name "$GITHUB_ACTOR" || exit 90
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add -f rss.xml || exit 93
          git commit -m "$(date +%s)" -m "$URL" || exit 94
          git push origin "$INST" --force || exit 95
